h2
  font-size 4rem
  font-weight bold
  padding  0 0 1rem 0
  margin  0 0 1rem 0
  border-bottom 0.2rem solid $color-text
  //background-image url(/images/logo-sewatech.png)
  background-image none
  background-position 95%
  background-repeat no-repeat
  background-size auto 80%
  text-align center

/* Bullet points */
ul
  margin 0
  li
    margin 1rem 0 
    list-style-type none
    list-style-image none
  li:empty
    list-style none
  ul 
    li
      margin 0.5rem 0 0 0 
      list-style-type circle
      font-size 2.5rem
      ul 
        li
          margin 0.3rem 0 0 0.5rem
          list-style-type none
          font-size 2rem

ul.level2 
  margin 0.5rem 0 0.5rem 40px
  li
    margin 0.5rem 0 0 0 
    list-style-type circle
    font-size 2.5rem
  ul
    li
      margin 0.3rem 0 0 0.5rem
      list-style-type none
      font-size 2rem

/* */
.small
  font-size 85% !important
.big
  font-size 120% !important
.very-big
  font-size 150% !important

pre
  white-space pre
  white-space pre-wrap
  word-wrap break-word
  border 1px solid #888
  font-size 1.8rem
  background-color #ff9

figure.quote
  margin 2rem 5rem

blockquote
  margin 0
  font-size 3rem
  font-style italic

blockquote p
  margin 1em 0

blockquote cite
  font-size 0.8em
  font-style normal
  color #bbb

.white
  color #ffffff

/* Source-like block */ 
aside.source
  margin-left auto
  margin-right auto
  width max-content
  p
    font-family monospace, monospace
    background-color #F2D279
    color #333
    padding 0.2rem 0.4rem
    margin -0.1rem 0.3rem
    font-size 1.8rem
    border 1px solid #888
    line-height 1.5
aside.source.bg-red
  p
    background-color #f98787

set-margin('aside.source', top, 10)
set-margin('aside.source', left, 0)

aside.source.small
  p
    font-size 1.5rem
    line-height 1.3
aside.source.very-small
  .small
    font-size 1.2rem
    line-height: 1.2;
aside.source.right
  position absolute
  right 1em
aside.source.full-width
  margin-left unset
  margin-right unset

.line-through
  text-decoration line-through
.--
  text-decoration line-through
