@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-RegularItalic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla/Karla-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
