@page
  size $slide-width $slide-height
  margin 0

@media print
  .bespoke-parent, .bespoke-scale-parent, .bespoke-slide
    margin unset
    position relative
    top unset
    right unset
    bottom unset
    left unset

  .bespoke-parent
    overflow visible
    z-index -11

  .bespoke-scale-parent
    transform unset !important

  .bespoke-slide
    opacity unset
    zoom unset !important
    z-index -10

  .bespoke-bullet-inactive
    opacity unset
    visibility visible
