$real-margin-mm = 20mm

$ratio = 3.7795       // I don't know why this value, but it works
$slide-height-mm = unit($slide-height / $ratio, 'mm')
$slide-width-mm = unit($slide-width / $ratio, 'mm')

$zoom = unit( (210mm - 2 * $real-margin-mm) / $slide-width-mm, '')

$margin-mm = $real-margin-mm / $zoom

$notes-height-mm = unit( 297mm / $zoom - $slide-height-mm - 2 * $margin-mm, 'mm')
$bottom-margin-mm = $notes-height-mm + 2.5 * $margin-mm


@page
    size A4

@media print
  .bespoke-parent, .bespoke-scale-parent, .bespoke-slide
    margin unset
    position relative
    overflow visible
    top unset
    right unset
    bottom unset
    left unset

  .bespoke-parent
    background-color #ffffff
    color #000000
    z-index -11

  .bespoke-slide
    opacity 1
    zoom $zoom !important
    border solid 1px black
    margin $margin-mm auto $bottom-margin-mm auto      // Bottom margin is useful for "Emulate CSS Media : print" on Chrome
    page-break-after always
    z-index -11    
  
    aside[role=note]
      display block
      width $slide-width-mm
      border solid 1px black
      padding 32px
      position absolute
      top ($slide-height-mm + $margin-mm / 2)
      left 0
      height $notes-height-mm
      font-size 1.5rem
      text-align justify
      p
        margin 0.5rem 0
      ul
        li
          list-style-type square        
          font-size 1.5rem
          margin 0.3rem 0
      pre.source
        margin 0 0 1rem 0
        code
          font-size 1rem
          padding 0.2rem 0.2rem
          border none
          display block
          overflow-x auto
          color #333
          background-color #fff
          text-align left

  .bespoke-bullet-inactive
    visibility visible

  section#toc-detail.bespoke-slide
    border none
    visibility hidden

    aside[role=note]
      opacity 1
      top 0
      visibility visible
      height unit( 297mm / $zoom - 2*$margin-mm, 'mm')
      color #000000

      h2
        font-size 2rem
        margin-top 0
        padding-top 0

      ul li
        font-size 1.5rem

      li.toc2
        font-size 1.3rem
