// Standard slide
section
  background-color pink
section:after
  counter-increment page-number 
  content "" /*counter(page-number)*/
  position absolute
  bottom 50px
  right 25px
  padding-right 25px
  font-size 1.3rem
  display flex
  align-items flex-end
  justify-content flex-end

section:before
  content "@AlexisHassler"
  color $color-text
  position absolute
  bottom 5px
  left 5px
  font-size 1rem


// Title
section.title
  background-image url("../images/jigsaw-1.jpg") // https://www.flickr.com/photos/intvgene/370973576
  background-color $background-color-title
  color $color-title
  text-align center
  p
    font-size 4rem
    margin-left auto
    margin-right auto
  ul.author
    text-align left
    margin 4em 2em
  figure.conf
    position absolute
    z-index 1
    right 2rem
    bottom 2rem
  h2, p.title
    width 80%
    margin-left auto
    margin-right auto
    margin-top 1em
    line-height 1
    font-size 6rem
    //font-weight bold
    text-align center
    border-bottom none
section.title:before
  content unset
section.title:after
  color $color-text
  //visibility hidden 
.title ul, .title li
  margin 0
  list-style none
  list-style-image none
  line-height 1.5em
  margin-bottom 0em

// Chapter
section.chapter
  background-image url("../images/jigsaw-2.jpg") // https://www.flickr.com/photos/foot-slogger/901793825/
  background-color $background-color-title
  color $color-title
  text-align center
  h2, p.title
    font-size 6rem
    margin-left auto
    margin-right auto
    font-weight bold
    padding-top 9rem
    border-bottom none
  .personname, .url
    display none
section.chapter:before
  content unset

// Demo
section.demo-small
  background-size 0
section.demo-small:after
  height $footer_height
  width $footer_height
  position absolute
  bottom 0
  background-size $footer_height
  background-image $demo-image
  background-position 100% 100%
  background-repeat no-repeat
  filter grayscale(100%)
section.demo-small:before
  color #3C5BA3

// Dark slides
section.dark
  background black
  color white
section.dark:before
  content unset

// Table of content
section#toc-detail
  h2
    width 80%
    margin 1rem auto    
    font-size 6rem
    font-weight bold
    text-align center
    padding-top 2em
    line-height unset
  p 
    line-height unset

section.red
  background-color #8f1b1c
  color $color-title
  h2, p.title
    border-bottom none

// Lite slide for live sliding
section.lite
  background-color $background-color
  color $color-text
  text-align center
  h2, p.title
    font-size 6rem
    margin-left auto
    margin-right auto
    font-weight bold
    padding-top 6rem
    border-bottom none
  .personname, .url
    display none
  pre
    background-color #ddd
    font-size 3rem
    padding-left 1rem
    text-align left
section.lite:before
  content unset
