.small
  pre.source  code
    margin 0.1rem 0.3rem
    font-size 1.5rem
.very-small
  pre.source  code
    margin 0.1rem 0.3rem
    font-size 1.2rem

pre.source
  margin 0.4rem 0.3rem
  border 1px solid #888
  code
    padding 0.2rem 0.4rem
    border none
    display: block;
    overflow-x: auto;
    color: #333;
    background-color #ff9
    font-size 1.8rem

.admonitionblock
  table
    td.icon
      text-align center
      width 100px
      [class^="fa icon-"]
        font-size 1.5em
        text-shadow 1px 1px 2px rgba(0,0,0,.5)
      .icon-note:before
        content "\f05a"
        color #19407c
      .icon-tip:before
        content "\f0eb"
        text-shadow 1px 1px 2px rgba(155,155,0,.8)
        color:#111
      .icon-warning:before
        content "\f071"
        color #bf6900
      .icon-caution:before
        content "\f06d"
        color #bf3400
      .icon-important:before
        content "\f06a"
        color #bf0000
    td.content
      padding-left 0.5em
      padding-right 0.5em
      border-left 1px solid #ddddd8
      color rgba(0,0,0,.6)
      font-size 0.8em

.small
  font-size 80%
.small ul ul li
      font-size 2rem
.very-small
  font-size 60%
.very-very-small
  font-size 50%

// code 
//   background #ff9
//   border solid 1px #aaa
//   padding 0 0.1em

table.tableblock
  font-size 0.7em
  margin 0.2em
  caption.title
    font-size 0.8em
    font-style italic
  td
    padding 0 0.5em
    border solid 3px white
    p
      margin 0
  tr
    background #e8e8e7
  tr.even, tr.alt, tr:nth-of-type(2n)
    background #d8d8d7

th.halign-left, td.halign-left
  text-align left

th.halign-center, td.halign-center
  text-align center

th.halign-right, td.halign-right
  text-align right

table.tableblock.no-background
  td
    border unset
  tr
    background unset

.full-width
  width 100%
  img
    width 100%
    object-fit contain


section#toc, section#toc-detail
  li
    span:nth-of-type(1)
      float left
      overflow hidden
      white-space nowrap
      width 950px
    span:nth-of-type(1):after
      margin-left 10px
      content "......................................................................................................................................................"
    span:nth-of-type(2)
      float left
      text-align right
      overflow hidden
      width 100px

section#toc
  li
    line-height 1.4em
section#toc-detail aside
  li
    list-style-type none
    span:nth-of-type(2)
      width 50px
  li.toc2
    margin-left 50px
    span:nth-of-type(1)
      width 900px

.red
  color red
.green
  color green
.bg-red pre.source code
    background-color #f98787

.title
  h2
    background-image none

#speaker li
  font-size 3.5rem
  margin 2rem 0

.no-txt
  svg
    text 
      display none

.foxglove
  // background-color rgb(0, 31, 44)
  font-weight 700
  color rgb(249, 119, 5)
  .small
    font-weight 400
    font-size 40% !important
  a 
    color rgb(249, 119, 5)


animation-delay-rear(step max) 
  for index in (1..max) 
      &:nth-child({index}) 
          animation-delay step * (max - index)

animation-delay-front(step max) 
  for index in (1..max) 
      &:nth-child({index}) 
          animation-delay step * (index - 1)

.bespoke-bullet-active .show-rear>* {
  animation show 500s
  opacity 0
  animation-delay-rear(0.5s, 20) 
}

.bespoke-bullet-active .show-front>* {
  animation show 500s
  opacity 0
  animation-delay-front(0.5s, 20) 
}
  
@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
