body
  counter-reset page-number
.background
  position absolute
  z-index 0
.foreground
  position absolute
  z-index 1
.right-0
  position absolute
  right 0
.right-1
  position absolute
  right 1em
.top-10
  top 10em

/* Margin and padding */
set-margin('',top, 20) 
set-margin('',left, 20) 
set-margin('',right, 20) 
set-margin('',bottom, 20) 

set-padding(left, 5)
.padding-left-0
  ul
    padding-left 0

.text-center
  text-align center

.width-800
  width 800px

/* Diagrams */
.uml
  background-color #0ff
  fill #0ff !important
  border solid 2px grey
  margin 0
  -webkit-padding-start 0
  li:first-child
    text-align center
    font-size 0.9em
    padding 0.2em
    margin 0
    border-bottom solid 2px grey
  li:last-child // useful when first == last
    border-bottom none
  li
    font-size 0.8em
    margin 0
    padding 0 0.5em
    min-height 0.4em

.columns
  display flex
  align-items stretch
  justify-content space-around
.align-top
  align-items flex-start
.align-bottom
  align-items flex-end

.full-screen
  position absolute
  z-index -1
  top 0
  left 0
  width 100%
  height 100%
  img
    width 100%
    height 100%
    object-fit contain
.grayscale
  filter grayscale(100%)

.no-jar
  .jar
    display none
 
.half
  width 50%
  float left

.center
  text-align center
.right
  text-align right

.arrow
  stroke:#000000 !important;
  stroke-width:2 !important;
  marker-end:url(#Arrow1Lend) !important;

.arrow.level2
  stroke:$color-muted !important;
  stroke-width:2 !important;
  marker-end:url(#Arrow1LendRed) !important;

#Arrow1LendRed
  fill:$color-muted !important;
  fill-opacity:1 !important;
  fill-rule:evenodd !important;
  stroke:$color-muted !important;
  stroke-width:1pt !important;
  stroke-opacity:1 !important;
  